{% set title = 'Interno | Homepage' %}
{% set icon = 'images/favicon.svg' %}
{% include 'components/_header.html' %}

<main class="main" id="homepage">

  <section class="hero">
    <div class="container">
      <div class="hero__body">
        <div class="hero__info">
          <h1 class="main-title">
            Let Your Home Be Unique
          </h1>
          <p class="main-text">
            There are many variations of the passages of lorem Ipsum fromavailable, majority.
          </p>
          <a class="main-link" href="#">
            Get Started
            {% include 'images/arrow-right.svg' %}
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="work">
    <div class="container">
      <div class="work__body">
        <div class="work__cards">
          <div class="work__card">
            <h3 class="work__card-title main-title">
              Project Plan
            </h3>
            <p class="work__card-text main-text">
              There are many variations of the passages of lorem Ipsum from available, majority.
            </p>
            <a class="main-link bgless" href="#">
              Read More
              {% include 'images/arrow-right.svg' %}
            </a>
          </div>
          <div class="work__card">
            <h3 class="work__card-title main-title">
              Interior Work
            </h3>
            <p class="work__card-text main-text">
              There are many variations of the passages of lorem Ipsum from available, majority.
            </p>
            <a class="main-link bgless" href="#">
              Read More
              {% include 'images/arrow-right.svg' %}
            </a>
          </div>
          <div class="work__card">
            <h3 class="work__card-title main-title">
              Realization
            </h3>
            <p class="work__card-text main-text">
              There are many variations of the passages of lorem Ipsum from available, majority.
            </p>
            <a class="main-link bgless" href="#">
              Read More
              {% include 'images/arrow-right.svg' %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about">
    <div class="container">
      <div class="about__body">
        <div class="about__info">
          <h2 class="main-title">
            We Create The Art Of Stylish Living Stylishly
          </h2>
          <p class="main-text">
            It is a long established fact that a reader will be distracted by the of readable content of a page when lookings at its layouts the points of using that it has a more-or-less normal.
          </p>
          <a class="about__contact" href="tel:+012345678">
            <img class="about__contact-icon" src="images/about/call.svg" alt="Phone"/>
            <span class="about__contact-info">
              <span class="about__contact-number">
                012345678
              </span>
              <span class="about__contact-descr main-text">
                Call Us Anytime
              </span>
            </span>
          </a>
          <a class="main-link" href="#">
            Get Free Estimate
            {% include 'images/arrow-right.svg' %}
          </a>
        </div>
        <figure class="about__picture">
          <img class="about__picture-img" src="images/about/about-img.jpg" alt="Interior"/>
        </figure>
      </div>
    </div>
  </section>

  <section class="testimonial">
    <div class="container">
      <div class="testimonial__body">
        <h2 class="main-title">
          What the People Thinks About Us
        </h2>
        <div class="testimonial__cards">
          <div class="testimonial__card">
            <div class="testimonial__card-caption">
              <img class="testimonial__card-img" src="images/testimonial/user-1.jpg" alt="User"/>
              <div class="testimonial__card-personal">
                <h3 class="testimonial__card-name main-title">
                  Nattasha Mith
                </h3>
                <p class="testimonial__card-descr main-text">
                  Sydney, USA
                </p>
              </div>
            </div>
            <p class="main-text">
              Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been.
            </p>
          </div>
          <div class="testimonial__card">
            <div class="testimonial__card-caption">
              <img class="testimonial__card-img" src="images/testimonial/user-2.jpg" alt="User"/>
              <div class="testimonial__card-personal">
                <h3 class="testimonial__card-name main-title">
                  Raymond Galario
                </h3>
                <p class="testimonial__card-descr main-text">
                  Sydney, Australia
                </p>
              </div>
            </div>
            <p class="main-text">
              Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been scrambled it to make a type book.
            </p>
          </div>
          <div class="testimonial__card">
            <div class="testimonial__card-caption">
              <img class="testimonial__card-img" src="images/testimonial/user-3.jpg" alt="User"/>
              <div class="testimonial__card-personal">
                <h3 class="testimonial__card-name main-title">
                  Benny Roll
                </h3>
                <p class="testimonial__card-descr main-text">
                  Sydney, New York
                </p>
              </div>
            </div>
            <p class="main-text">
              Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been scrambled.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="partners">
    <div class="container">
      <div class="partners__body">
        <div class="partners__items">
          <figure class="partners__item">
            <img class="partners__item-img" src="images/partners/modern-home.svg" alt="Modern Home"/>
          </figure>
          <figure class="partners__item">
            <img class="partners__item-img" src="images/partners/stylevintage.svg" alt="Stylevintage"/>
          </figure>
          <figure class="partners__item">
            <img class="partners__item-img" src="images/partners/brand.svg" alt="Brand"/>
          </figure>
          <figure class="partners__item">
            <img class="partners__item-img" src="images/partners/nature-home.svg" alt="Nature Home"/>
          </figure>
          <figure class="partners__item">
            <img class="partners__item-img" src="images/partners/classic-design.svg" alt="Classic Design"/>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <section class="projects" id="projects">
    <div class="container">
      <div class="projects__body">
        <div class="projects__caption">
          <h2 class="main-title">
            Follow Our Projects
          </h2>
          <p class="main-text">
            It is a long established fact that a reader will be distracted by the of readable content of page lookings at its layouts points.
          </p>
        </div>
        <div class="projects__items">
          <div class="projects__item">
            <a class="projects__item-picture" href="#">
              <img class="projects__item-img" src="images/projects/interior-1.jpg" alt="Interior"/>
            </a>
            <div class="projects__item-info">
              <div class="projects__item-text">
                <a class="projects__item-name main-title" href="#">
                  Modern Kitchan
                </a>
                <p class="projects__item-descr main-text">
                  Decor / Artchitecture
                </p>
              </div>
              <img class="projects__item-icon" src="images/arrow-right-bg.svg" alt="Arrow right"/>
            </div>
          </div>
          <div class="projects__item">
            <a class="projects__item-picture" href="#">
              <img class="projects__item-img" src="images/projects/interior-2.jpg" alt="Interior"/>
            </a>
            <div class="projects__item-info">
              <div class="projects__item-text">
                <a class="projects__item-name main-title" href="#">
                  Modern Kitchan
                </a>
                <p class="projects__item-descr main-text">
                  Decor / Artchitecture
                </p>
              </div>
              <img class="projects__item-icon" src="images/arrow-right-bg.svg" alt="Arrow right"/>
            </div>
          </div>
          <div class="projects__item">
            <a class="projects__item-picture" href="#">
              <img class="projects__item-img" src="images/projects/interior-3.jpg" alt="Interior"/>
            </a>
            <div class="projects__item-info">
              <div class="projects__item-text">
                <a class="projects__item-name main-title" href="#">
                  Modern Kitchan
                </a>
                <p class="projects__item-descr main-text">
                  Decor / Artchitecture
                </p>
              </div>
              <img class="projects__item-icon" src="images/arrow-right-bg.svg" alt="Arrow right"/>
            </div>
          </div>
          <div class="projects__item">
            <a class="projects__item-picture" href="#">
              <img class="projects__item-img" src="images/projects/interior-4.jpg" alt="Interior"/>
            </a>
            <div class="projects__item-info">
              <div class="projects__item-text">
                <a class="projects__item-name main-title" href="#">
                  Modern Kitchan
                </a>
                <p class="projects__item-descr main-text">
                  Decor / Artchitecture
                </p>
              </div>
              <img class="projects__item-icon" src="images/arrow-right-bg.svg" alt="Arrow right"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="counter">
    <div class="container">
      <div class="counter__body">
        <div class="counter__items">
          <dl class="counter__item">
            <dt class="counter__item-number" data-counter="12">
              0
            </dt>
            <dd class="counter__item-text main-text">
              Years Of Experiance
            </dd>
          </dl>
          <dl class="counter__item">
            <dt class="counter__item-number" data-counter="85">
              0
            </dt>
            <dd class="counter__item-text main-text">
              Success Project
            </dd>
          </dl>
          <dl class="counter__item">
            <dt class="counter__item-number" data-counter="15">
              0
            </dt>
            <dd class="counter__item-text main-text">
              Active Project
            </dd>
          </dl>
          <dl class="counter__item">
            <dt class="counter__item-number" data-counter="95">
              0
            </dt>
            <dd class="counter__item-text main-text">
              Happy Customers
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </section>

  <section class="blog" id="blog">
    <div class="container">
      <div class="blog__body">
        <div class="blog__caption">
          <h2 class="main-title">
            Articles & News
          </h2>
          <p class="main-text">
            It is a long established fact that a reader will be distracted by the of readable content of a page when lookings at its layouts the points of using.
          </p>
        </div>
        <div class="blog__articles">
          <div class="blog__article">
            <figure class="blog__article-figure">
              <a class="blog__article-figlink" href="#">
                <img class="blog__article-img" src="images/blog/article-1.jpg" alt="Interior"/>
                <figcaption class="blog__article-figcaption">
                  Kitchan Design
                </figcaption>
              </a>
            </figure>
            <a class="blog__article-title main-title" href="#">
              Let’s Get Solution For Building Construction Work
            </a>
            <div class="blog__article-footer">
              <p class="blog__article-date main-text">
                26 December,2022
              </p>
              {% include 'images/arrow-right-bg.svg' %}
            </div>
          </div>
          <div class="blog__article">
            <figure class="blog__article-figure">
              <a class="blog__article-figlink" href="#">
                <img class="blog__article-img" src="images/blog/article-2.jpg" alt="Interior"/>
                <figcaption class="blog__article-figcaption">
                  Living Design
                </figcaption>
              </a>
            </figure>
            <a class="blog__article-title main-title" href="#">
              Low Cost Latest Invented Interior Designing Ideas.
            </a>
            <div class="blog__article-footer">
              <p class="blog__article-date main-text">
                22 December,2022
              </p>
              {% include 'images/arrow-right-bg.svg' %}
            </div>
          </div>
          <div class="blog__article">
            <figure class="blog__article-figure">
              <a class="blog__article-figlink" href="#">
                <img class="blog__article-img" src="images/blog/article-3.jpg" alt="Interior"/>
                <figcaption class="blog__article-figcaption">
                  Interior Design
                </figcaption>
              </a>
            </figure>
            <a class="blog__article-title main-title" href="#">
              Best For Any Office & Business Interior Solution
            </a>
            <div class="blog__article-footer">
              <p class="blog__article-date main-text">
                25 December,2022
              </p>
              {% include 'images/arrow-right-bg.svg' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact" id="contact">
    <div class="container">
      <div class="contact__body">
        <div class="contact__info">
          <h2 class="main-title">
            Wanna join the interno?
          </h2>
          <p class="main-text">
            It is a long established fact will be distracted.
          </p>
          <a class="main-link" href="contact.html">
            Contact With Us
            {% include 'images/arrow-right.svg' %}
          </a>
        </div>
      </div>
    </div>
  </section>

</main>

{% include 'components/_footer.html' %}