{% set title = "FAQ's" %}
{% set icon = 'images/favicon.svg' %}
{% from 'templates/page-caption.html' import pageCaption as pageCaption %}

{% include 'components/_header.html' %}

<main class="main" id="faqs-page">

  {{ pageCaption('faqs-hero', "Faq's", 'faqs-page/faqs-bg.jpg', [
    {
      linkName: 'Home',
      linkUrl: '/'
    }
  ], 'Faq') }}

  <section class="faq-section comprehensive">
    <div class="container">
      <div class="faq-section__body">
        <h2 class="main-title">
          Every Question Answered
        </h2>
        <div class="faq-section__content">
          <div class="faq-section__questions">
            <div class="faq-section__question">
              <h4 class="faq-section__question-title main-title">
                What is the Hipcouch Interior Design Service?
              </h4>
              <p class="faq-section__question-text main-text">
                Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief. There are many variations of passages of Lorem Ipsum available, but the majority randomised.
              </p>
            </div>
            <div class="faq-section__question open">
              <h4 class="faq-section__question-title main-title">
                So, how exactly does this work?
              </h4>
              <p class="faq-section__question-text main-text">
                Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief. There are many variations of passages of Lorem Ipsum available, but the majority randomised.
              </p>
            </div>
            <div class="faq-section__question">
              <h4 class="faq-section__question-title main-title">
                What cities do you currently operate in?
              </h4>
              <p class="faq-section__question-text main-text">
                Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief. There are many variations of passages of Lorem Ipsum available, but the majority randomised.
              </p>
            </div>
            <div class="faq-section__question">
              <h4 class="faq-section__question-title main-title">
                Hipcouch Interior Design Service?
              </h4>
              <p class="faq-section__question-text main-text">
                Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief. There are many variations of passages of Lorem Ipsum available, but the majority randomised.
              </p>
            </div>
            <div class="faq-section__question">
              <h4 class="faq-section__question-title main-title">
                What kind of interior designers do you have?
              </h4>
              <p class="faq-section__question-text main-text">
                Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief. There are many variations of passages of Lorem Ipsum available, but the majority randomised.
              </p>
            </div>
          </div>
          <figure class="faq-section__figure">
            <img class="faq-section__img" src="images/faqs-page/comprehensive.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="faq-section inquiries">
    <div class="container">
      <div class="faq-section__body">
        <h2 class="main-title">
          Every Question Answered
        </h2>
        <div class="faq-section__content">
          <figure class="faq-section__figure">
            <img class="faq-section__img" src="images/faqs-page/inquiries.jpg" alt="">
          </figure>
          <div class="faq-section__questions">
            <div class="faq-section__question">
              <h4 class="faq-section__question-title main-title">
                How long does it take?
              </h4>
              <p class="faq-section__question-text main-text">
                Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief. There are many variations of passages of Lorem Ipsum available, but the majority randomised.
              </p>
            </div>
            <div class="faq-section__question open">
              <h4 class="faq-section__question-title main-title">
                Can I use my existing furnishings?
              </h4>
              <p class="faq-section__question-text main-text">
                Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief. There are many variations of passages of Lorem Ipsum available, but the majority randomised.
              </p>
            </div>
            <div class="faq-section__question">
              <h4 class="faq-section__question-title main-title">
                I put into redesigning my interior?
              </h4>
              <p class="faq-section__question-text main-text">
                Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief. There are many variations of passages of Lorem Ipsum available, but the majority randomised.
              </p>
            </div>
            <div class="faq-section__question">
              <h4 class="faq-section__question-title main-title">
                What do your services cost?
              </h4>
              <p class="faq-section__question-text main-text">
                Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief. There are many variations of passages of Lorem Ipsum available, but the majority randomised.
              </p>
            </div>
            <div class="faq-section__question">
              <h4 class="faq-section__question-title main-title">
                Do you offer free consultations?
              </h4>
              <p class="faq-section__question-text main-text">
                Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary popular belief. There are many variations of passages of Lorem Ipsum available, but the majority randomised.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% include 'components/_footer.html' %}