@use 'core/vars';
@use 'core/mixins';
@use 'core/global';

// Article

.article-wrap {
  padding-top: 200px;

  @media (width <= 991px) {
    padding-top: 100px;
  }

  .container {
    @include mixins.flexBox(flex-start, space-between);
    gap: 56px;

    @media (width <= 991px) {
      flex-direction: column;
    }
  }
}

.article-content {
  flex: 1;

  @media (width <= 991px) {
    order: 1;
  }

  :is(h2, p):not(:first-of-type),
  h2 + p {
    margin-top: 27px;
  }

  h2 {
    @extend .main-title;
    text-align: left;
  }

  h3 {
    @include mixins.insertFont(25px, 31.5px, 400, 'DMSerifDisplay');
  }

  h4 {
    @include mixins.insertFont(20px, 25px, 400, 'DMSerifDisplay');
  }

  p {
    @extend .main-text;
  }

  figure {
    margin-top: 20px;
    border-radius: 50px;

    @media (width <= 767px) {
      border-radius: 20px;
    }

    img {
      width: 100%;
      height: clamp(400px, 100vmin, 539px);
      object-fit: cover;
      border-radius: inherit;
    }

    figcaption {
      @include mixins.flexBox(center, space-between);
      @include mixins.insertFont(16px, 24px, 400, 'Jost');
      margin-top: 46px;
      color: vars.$darkGray;
    }
  }

  figure + div {
    margin-top: 48px;
    color: vars.$sandy;
  }

  blockquote {
    margin-top: 35px;
    padding: 53px;
    background: vars.$light;
    border-radius: 50px;
    text-align: center;

    @media (width <= 767px) {
      border-radius: 20px;
      padding: 40px 20px;
    }

    p {
      @include mixins.insertFont(25px, 31px, 400, 'DMSerifDisplay');
      font-style: italic;
      color: vars.$sandy;
      max-width: 345px;
      margin: 0 auto;
      position: relative;
      padding-top: 90px;
    }

    p::before {
      content: 'â€';
      @include mixins.insertFont(200px, 100%, 400, 'DMSerifDisplay');
      font-style: italic;
      position: absolute;
      top: 0;
      left: 26%;
      width: 100px;
      height: 100px;
    }
  }

  ol {
    margin: 24px 0 44px;
    padding-left: 22px;

    li + li {
      margin-top: 32px;
    }

    li {
      @extend .main-text;
      list-style-type: decimal;
    }

    li::marker {
      color: vars.$sandy;
    }
  }

  footer {
    @include mixins.flexBox(center, space-between);
    gap: 40px 21px;
    flex-wrap: wrap;
    padding: 44px 0;
    margin: 62px 0 93px;
    border-top: 1px solid vars.$dimmed;
    border-bottom: 1px solid vars.$dimmed;
  }

  .social {
    margin: 0;

    @media (width <= 575px) {
      margin: 0 auto;
    }
  }

  &__tags {
    @include mixins.flexBox(center);
    gap: 20px;
    margin-right: auto;
  }

  &__tag {
    @include mixins.insertFont(18px, 22.5px, 400, 'Jost');
    letter-spacing: 0.02em;
    padding: 13px 25px;
    background: vars.$light;
    border-radius: 10px;
    color: vars.$dark;

    &.active {
      background: vars.$dark;
      color: vars.$light;
    }
  }

  .mailbox__form {
    margin-top: 40px;

    .mailbox__submit {
      margin-top: 0;
      justify-self: start;
    }
  }
}

.article-aside {
  flex: 0 1 345px;
  margin-bottom: 50px;

  @media (width <= 991px) {
    width: 100%;
  }

  &__form {
    @include mixins.flexBox(center, space-between);
    gap: 20px;
    background: vars.$light;
    border-radius: 20px;
    padding: 33px;
    transition: 0.5s;
    border: 1px solid transparent;

    @media (width <= 991px) {
      padding: 20px;
      border-radius: 10px;
    }

    &:focus-within {
      border-color: vars.$sandy;
      box-shadow: inset -3px -3px 10px -4px vars.$sandy,
        inset 3px 3px 10px 4px vars.$white;
    }

    &-input {
      @include mixins.insertFont(22px, 33px, 400, 'Jost');
      border: none;
      width: 100%;
      color: vars.$darkGray;
      background: transparent;
      outline: none;
      caret-color: vars.$sandy;
    }

    &-input::placeholder {
      color: vars.$sandy;
    }

    &-submit {
      flex-shrink: 0;
      width: 27px;
      height: 27px;

      @media (width <= 991px) {
        width: 20px;
        height: 20px;
      }
    }

    &-submit svg {
      @include mixins.dimensions100;
    }

    &-submit path {
      stroke: vars.$sandy;
      stroke-width: 3px;
    }
  }

  &__title {
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 33px;
    text-align: left;
  }

  &__latest {
    margin-top: 50px;

    &-article {
      padding-bottom: 6px;
      border-bottom: 1px solid vars.$sandy;
    }

    &-article:not(:last-child) {
      margin-bottom: 34px;
    }

    &-link {
      text-align: left;
      font-size: 20px;
      line-height: 25px;
      max-width: 80%;
    }

    &-date {
      text-align: right;
      margin-top: 5px;
      font-size: 16px;
      line-height: 24px;
      color: vars.$darkGray;
    }
  }

  &__categories {
    margin-top: 50px;
    background: vars.$light;
    padding: 27px 32px;
    border-radius: 20px;

    &-item:not(:last-child) {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid vars.$sandy;
    }
  }

  &__tags {
    margin-top: 50px;

    &-wrap {
      @include mixins.flexBox(center);
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  &__tag {
    @include mixins.insertFont(18px, 22px, 400, 'Jost');
    color: vars.$darkGray;
    padding: 9px 30px;
    background: vars.$light;
    border-radius: 10px;
    user-select: none;
    transition: 0.5s;
    transform: scale(0.9);

    &.active {
      transform: scale(1);
      background: vars.$darkGray;
      color: vars.$white;
    }
  }
}
